/* This is the common style-sheet for transfer management module */

body {
    background-image: url(../img/bg16.jpg);
    background-color: rgb(4, 19, 40);
    background-repeat: no-repeat;
    background-size: cover;
}
