/* This is the common style-sheet for staff salary module */

body {
    background-image: url(../img/bg15.jpg);
    /* background-color: rgb(4, 19, 40); */
    background-repeat: no-repeat;
    background-size: cover;
}
